/* Reminder: delete empty rulesets */

/* ****************************** */
/*       Universal selector       */
/* ****************************** */
* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */
:root {
--header-left: #465ab8;
--header-right: #261360;
--forecast: #323d4f;
--search-button: #6991e3;
--common-cities: #aeaeae;
--black-text: #000000;
--white-text: #ffffff;
--divider: #aeaeae;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

/*Header formatting, font, and color*/
header {
background: linear-gradient(to right, var(--header-left), var(--header-right));
text-align: center;}

/*Background formatting, font, and color*/
body {
box-sizing: border-box;
color: var(--black-text);
}

/* Heading formatting, font, and color */
h1 {
color: var(--white-text);
}

h2 {
    
}

h3 {

}

h4 {
	font-weight: bold;
}

/* Aside headers formatting, font, and color */
aside {
margin-left: 20px;
margin-right: 30px;
}

button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: var(--divider);
}

/* Button formatting */
button {
background: var(--search-button);
color: var(--white-text);
display: inline-block;
font-weight: 400;
user-select: none;
line-height: 1.5;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/*Header formatting, font, and color*/
.header {

}

/*Background formatting, font, and color*/
.body {

}

/* Heading formatting, font, and color */
.h1 {

}

/* Aside headers formatting, font, and color */
.aside {

}

/*Card formatting, font, and color*/
.cardRow {
background-color: var(--forecast);
}

/* Section formatting */
.section {

}

/* Article formatting */
.article { 

}

/*Paragraph formatting, font, and color*/
.p {

}

/* ****************************** */
/*          ID selectors          */
/* ****************************** */
/*Header formatting, font, and color*/
#header {

}

/*Background formatting, font, and color*/
#body {

}

/* Heading formatting, font, and color */
#h1 {

}

/* Aside headers formatting, font, and color */
#aside {

}

/*Nav bar within header formatting, font, and color*/
#nav {

}

/* Section formatting */
#section {

}

/* Article formatting */
#article { 

}

/*Paragraph formatting, font, and color*/
#p {

}

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 480px) {

}