/* ****************************** */
/*       Universal selector       */
/* ****************************** */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */
:root {
  --header-left: #465ab8;
  --header-right: #261360;
  --forecast: #323d4f;
  --search-button: #6991e3;
  --recent-cities: #aeaeae;
  --black-text: #000000;
  --white-text: #ffffff;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

/* Main formatting */
header {
  background: linear-gradient(
    to right,
    var(--header-left),
    var(--header-right)
  );
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: var(--white-text);
}

body {
  color: var(--black-text);
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
}

p {
  margin-left: 5px;
}

img {
  max-height: 25px;
  max-width: 25px;
}

/* Headers formatting */
h2 {
  font-size: larger;
  font-weight: bold;
  margin: 5px 5px;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-size: large;
  font-weight: bold;
  color: var(--white-text);
  margin: 5px;
}

/* Aside formatting */
aside {
  float: left;
  width: 20%;
  margin-left: 5px;
}

input {
  width: 100%;
  min-height: 35px;
}

button {
  display: inline-block;
  user-select: none;
  padding: 3px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  width: 90%;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/* Main formatting */
.cards {
  background-color: var(--forecast);
  color: var(--white-text);
  max-width: 100%;
}

/* Divider formatting */
hr.solid {
  border-top: 3px solid --var(--search-button);
  width: 80%;
}

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

/* Aside formatting */
#inputBox {
  width: 90%;
  margin: 10px 0;
  padding: 5px;
  border: 2px solid var(--recent-cities);
  border-radius: 4px;
  box-sizing: border-box;
}

#searchBtn {
  color: var(--white-text);
  background: var(--search-button);
}

#recentBtn {
  background: var(--recent-cities);
}

/* Main formatting */
#mainContent {
  width: 70%;
}

#currentConditions {
  min-height: 170px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid var(--black-text);
}

#cardExample {
  min-height: 200px;
  max-width: 150px;
  background: var(--forecast);
  color: var(--white-text) !important;
}

#currentIcon {
  margin: 0px;
}

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {
}

/* iPads and Tablets */
@media screen and (max-width: 768px) {
}

/* Mobile devices */
@media screen and (max-width: 480px) {
}
